/*doc
---
title: Headings
name: headings
category: Base
---

Headings 1–6, with corresponding Greek-alphabet abstract classes for
[double-stranded heading hierarchy](http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css).
Classes can be prefixed with a media-query state (e.g. `palm-zeta`).

```html_example
<h1 class="alpha">Alpha</h1>
<h2 class="beta">Beta</h2>
<h3 class="gamma">Gamma</h3>
<h4 class="delta">Delta</h4>
<h5 class="epsilon">Epsilon</h5>
<h6 class="zeta">Zeta</h6>
```
*/