/*doc
---
title: Links
name: links
category: Base
---

Use `.plain` for links that don't have an underline on hover.

```html_example
<a href="#">Foobar</a>
<a href="#" class="plain">Barbaz</a>
```
*/

$link-color: #3f89c1;

a {
  color: $link-color;
}

/*a*/.plain {
  text-decoration: none !important;
}