/*doc
---
title: Box
name: box
category: Objects
---

The box object simply boxes off content.

```html_example
<div class="box">
  <p>Boxed-off content.</p>
</div>
```
## Modifiers

Modifier  | Class
--------- | ------------
Tiny box  | `box--tiny`
Small box | `box--small`
Large box | `box--large`
Huge box  | `box--huge`
Flush box | `box--flush`

*/