/*doc
---
title: Test
name: test
category: Objects
---

The flag object is a design pattern similar to the media object, however it
utilises `display: table[-cell];` to give us control over the vertical
alignments of the text and image.

```html_example
<div class="flag flag--responsive">
  <div class="flag__img">
    <img src="http://placehold.it/140x140">
  </div>

  <div class="flag__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis sem quis rutrum elementum. Maecenas dignissim tincidunt lacus. Donec at congue est. Vestibulum a est tincidunt, porta tortor ut, vehicula libero. Proin semper imperdiet libero, non pulvinar nunc pellentesque id.</p>
  </div>
</div>
```

## Sizes

Modifier   | Class
---------- | --------------
Tiny flag  | `flag--tiny`
Small flag | `flag--small`
Large flag | `flag--large`
Huge flag  | `flag--huge`

## Layout

Modifier   | Class
---------- | ------------------
Reverse    | `flag--rev`
Responsive | `flag--responsive`
Flush      | `flag--flush`

## Alignment

Modifier | Class
-------- | --------------
Top      | `flag--top`
Bottom   | `flag--bottom`

*/