/*doc
---
title: Icon
name: icon
category: Objects
---

An icon left, text aside, vertically aligned.

```html_example
<div class="icon">
  <i class="i"><img src="http://placehold.it/35x35"></i>
  <span class="icon__text">Lorem ipsum dolor sit</span>
</div>
```

Modifier       | Class
-------------- | --------------
Small padding  | `icon--small`
Large padding  | `icon--large`
Reverse layout | `icon--reverse`


*/