/*doc
---
title: List Bare
name: list-bare
category: Objects
---

The list-bare object simply removes any indents and bullet points from lists.

```html_example
<ul class="list-bare">
  <li>Foo</li>
  <li>Bar</li>
  <li>Baz</li>
</ul>
```

*/