/*doc
---
title: List Block
name: list-block
category: Objects
---

The list block object creates blocky list items out of a `ul` or `ol`.

```html_example
<ul class="list-block">
  <li>Foo</li>
  <li>Bar</li>
  <li>Baz</li>
</ul>
```

## Modifiers

Modifier         | Class
---------------- | -------------------
Tiny list block  | `list-block--tiny`
Small list block | `list-block--small`
Large list block | `list-block--large`
Huge list block  | `list-block--huge`

*/