/*doc
---
title: Media
name: media
category: Objects
---

Place any image- and text-like content side-by-side, as per [Stubornella](stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code)

```html_example
<div class="media media--responsive">
  <img class="media__img" src="http://placehold.it/140x140">

  <div class="media__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis sem quis rutrum elementum. Maecenas dignissim tincidunt lacus. Donec at congue est. Vestibulum a est tincidunt, porta tortor ut, vehicula libero. Proin semper imperdiet libero, non pulvinar nunc pellentesque id.</p>
  </div>
</div>
```

## Sizes

Modifier    | Class
----------- | --------------
Tiny media  | `media--tiny`
Small media | `media--small`
Large media | `media--large`
Huge media  | `media--huge`

## Layout

Modifier   | Class
---------- | -------------------
Reverse    | `media--rev`
Responsive | `media--responsive`
Flush      | `media--flush`

*/