/*doc
---
title: Pack
name: pack
category: Objects
---

The pack object simply causes any number of elements pack up horizontally to
automatically fill an equal, fluid width of their parent.

```html_example
<div class="pack">
  <div class="pack__item">
    Item
  </div>

  <div class="pack__item">
    Item
  </div>

  <div class="pack__item">
    Item
  </div>

  <div class="pack__item">
    Item
  </div>
</div>
```

## Padding

Modifier | Class
-------- | -------------
Tiny     | `pack--tiny`
Small    | `pack--small`
Large    | `pack--large`
Huge     | `pack--huge`

## Layout

Modifier         | Class
---------------- | ------------
Reverse          | `pack--rev`
Automatic sizing | `pack--auto`

## Alignment

Modifier | Class
-------- | --------------
Middle   | `pack--top`
Bottom   | `pack--bottom`


*/