/*doc
---
title: Slat
name: slat
category: Objects
---

A simple object with top/bottom borders and padding.

```html_example
<div class="slat">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
</div>
```

## Modifiers

Modifier   | Class
-----------| -------------
Tiny slat  | `slat--tiny`
Small slat | `slat--small`
Large slat | `slat--large`
Huge slat  | `slat--huge`

*/

$slat-padding:          $inuit-base-spacing-unit  !default;
$slat-padding--tiny:    quarter($slat-padding)    !default;
$slat-padding--small:   halve($slat-padding)      !default;
$slat-padding--large:   double($slat-padding)     !default;
$slat-padding--huge:    quadruple($slat-padding)  !default;

$slat-border-width:     1px   !default;
$slat-border-style:     solid !default;
$slat-border-color:     #ccc  !default;

.slat,
%slat {
  @extend %clearfix;
  border-top: $slat-border-width $slat-border-style $slat-border-color;
  border-bottom: $slat-border-width $slat-border-style $slat-border-color;
  display: block;
  padding: $slat-padding;

  > :last-child {
    margin-bottom: 0;
  }
}

  .slat--tiny,
  %slat--tiny {
    padding: $slat-padding--tiny;
  }

  .slat--small,
  %slat--small {
    padding: $slat-padding--small;
  }

  .slat--large,
  %slat--large {
    padding: $slat-padding--large;
  }

  .slat--huge,
  %slat--huge {
    padding: $slat-padding--huge;
  }