/*doc
---
title: Text Input
name: text-input
category: Objects
---

Text inputs can be combined with width classes (e.g. `.1/2`).

```html_example
<ul class="form-fields">
  <li><input type="text" class="text-input palm-1/1" placeholder="Text input"></li>
  <li><input type="text" class="text-input palm-1/1 text-input--small" placeholder="Small text input"></li>
  <li><input type="text" class="text-input palm-1/1 text-input--large" placeholder="Large text input"></li>
</ul>
```

Text areas inherit style from text inputs.

```html_example
<ul class="form-fields">
  <li><textarea class="textarea palm-1/1" placeholder="Text area"></textarea></li>
</ul>
```

## Sizes

Modifier         | Class
---------------- | --------------------
Small input      | `text-input--small`
Large input      | `text-input--large`
Small text area  | `textarea--small`
Large text area  | `textarea--large`

*/
