<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><% if title != '' %><%= title %> — <% end %> Styleguide</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css /styles/styleguide.css -->
    <link rel="stylesheet" href="styles/styleguide.css">
    <!-- endbuild -->

    <!-- build:js /scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body class="ph">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="layout layout--middle pv">
      <div class="layout__item palm-1/1 lap-and-up-1/3">
        <h1 class="mb0">Styleguide</h1>
      </div>

      <div class="layout__item palm-1/1 lap-and-up-2/3">
        <ul class="list-inline lap-and-up-text--right">
          <% @categories.each_with_index do |cat, index| %>
            <li class="<% if index != 0 %>pl-<% end %>">
              <a class="<% if title == cat[0] %>weight--600<% end %>" href="/<%= cat[0].downcase %>.html">
                <%= cat[0] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <hr class="rule">

    <div class="layout">
      <div class="layout__item palm-1/1 lap-1/3 desk-1/4">
        <% if @blocks.length > 0 %>
          <ul class="list-ui list-ui--small mb">
            <% @blocks.each do |block| %>
              <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="layout__item palm-1/1 lap-2/3 desk-3/4">