/*doc
---
title: Floats
name: floats
category: Trumps
---

Float helper classes. Classes can be prefixed with a media-query state
(e.g. `palm-float--right`).

Modifier     | Class
------------ | --------------
Left float   | `float--right`
Right float  | `float--left`
Remove float | `float--none`

*/

