/*doc
---
title: Font Weights
name: font-weights
category: Trumps
---

Font weight helper classes.

* Classes take a numeric format (e.g. `.weight--500`).
* Classes can be prefixed with a media-query state (e.g. `palm-weight--300`).

## Weights

Modifier | Class
-------- | -------------
100      | `weight--100`
200      | `weight--200`
…        | …
800      | `weight--800`
900      | `weight--900`

*/


