/*doc
---
title: Spacing
name: spacing
category: Trumps
---

Margin and padding helper classes. Use these to tweak layout on a micro level:
`.(breakpoint)(-)(m|p)(t|r|b|l|h|v)(-|+|0)`.

```
<div class="mt++">
  <!-- 96px top margin -->
</div>

<div class="-m">
  <!-- 24px negative margin -->
</div>

<div class="pv-">
  <!-- 12px top and bottom padding -->
</div>
```

## Syntax

### Type

Define either a margin or padding.

Modifier         | Class
---------------- | -----
Margin           | `m`
Padding          | `p`

### Direction

Specify a direction after the type; not specifying a direction applies the
spacing in all directions.

Modifier         | Class
---------------- | -----
Top              | `t`
Right            | `r`
Bottom           | `b`
Left             | `l`
Horizontal       | `h`
Vertical         | `v`

### Amount

Specify an amount of spacing; not specifying an amount defaults to
`$base-spacing-unit`.

Modifier         | Class
---------------- | -----
More             | `+`
Even more        | `++`
Less             | `-`
Even less        | `--`
None             | `0`

### Negative

Prefix the class to define a negative margin.

Modifier           | Class
------------------ | -----
Negative (margins) | `-`

*/