/*doc
---
title: Text Alignment
name: text-align
category: Trumps
---

Text alignment helper classes. Classes can be prefixed with a media-query state
(e.g. `palm-text--center`).

## Alignment

Modifier     | Class
------------ | --------------
Align left   | `text--left`
Align center | `text--center`
Align right  | `text--right`

*/


