/*doc
---
title: Widths
name: widths
category: Trumps
---

A series of width helper classes that you can use to size things like grid systems.

* Classes take a fraction-like format (e.g. `.2/3`).
* Classes can be prefixed with a media-query state (e.g. `palm-2/3`).

```
<div class="lap-and-up-2/3">
  <!-- 66.666…% on lap and desk -->
</div>

<div class="portable-1/2">
  <!-- 50% on palm and lap -->
</div>

<div class="1/5">
  <!-- 20% on palm, lap, and desk -->
</div>
```

*/